@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Serif+4:opsz,wght@8..60,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF7F2;
  --foreground: #1A3215;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}